/* Below are safe tweaks to apply to job detail to show them well */

.job-detail > section,
.job-detail > div,
.job-detail > p {
	@apply py-2;
}

.job-detail h2 {
	@apply text-lg font-bold;
}

.job-detail ul li {
	@apply list-disc ml-8;
}

.job-detail ol li {
	@apply list-decimal ml-8;
}
